In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv("../data/OnlineRetail.csv", encoding="ISO-8859-1")

### Step 1: Check Missing Values
We first inspect the dataset for missing values in each column.

---

In [8]:
# Check null values across all columns
print(df.isnull().sum())

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

### Step 2: Inspect Columns with Null Values
Take a closer look at rows where CustomerID and Description are missing.

---

In [11]:
# Inspect nulls in CustomerID
print(df[df['CustomerID'].isnull()].head())

print("")

# Inspect nulls in Description
print(df[df['Description'].isnull()].head())

     InvoiceNo StockCode                      Description  Quantity  \
622     536414     22139                              NaN        56
1443    536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444    536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445    536544     21786               POLKADOT RAIN HAT          4
1446    536544     21787            RAIN PONCHO RETROSPOT         2

          InvoiceDate  UnitPrice  CustomerID         Country
622   12/1/2010 11:52       0.00         NaN  United Kingdom
1443  12/1/2010 14:32       2.51         NaN  United Kingdom
1444  12/1/2010 14:32       2.51         NaN  United Kingdom
1445  12/1/2010 14:32       0.85         NaN  United Kingdom
1446  12/1/2010 14:32       1.66         NaN  United Kingdom

     InvoiceNo StockCode Description  Quantity      InvoiceDate  UnitPrice  \
622     536414     22139         NaN        56  12/1/2010 11:52        0.0
1970    536545     21134         NaN         1  12/1/2010 14:32        0.0
1971    536546     22145         NaN         1  12/1/2010 14:33        0.0
1972    536547     37509         NaN         1  12/1/2010 14:33        0.0
1987    536549    85226A         NaN         1  12/1/2010 14:34        0.0

      CustomerID         Country
622          NaN  United Kingdom
1970         NaN  United Kingdom
1971         NaN  United Kingdom
1972         NaN  United Kingdom
1987         NaN  United Kingdom

### Step 3: Count Missing Values in Key Columns
Get the exact number of missing values in CustomerID and Description.

---

In [12]:
print("Null values in CustomerID:", df['CustomerID'].isnull().sum())
print("Null values in Description:", df['Description'].isnull().sum())

Null values in CustomerID: 135080
Null values in Description: 1454

### Step 4: Handle Missing Values
We can fill missing values as an alternative strategy (e.g., -1 for CustomerID).  
However, in this project we will **drop rows** where essential fields are missing.

---

In [16]:
# Example: Fill missing CustomerID with -1 (experiment)
df['CustomerID'] = df['CustomerID'].fillna(-1)

# Final approach: Drop rows where essential values are missing
df = df.dropna(subset=['CustomerID', 'Description', 'InvoiceNo'])

### Step 5: Remove Duplicate Rows
Check for and remove duplicate transactions.

---

In [17]:
print("Duplicates before:", df.duplicated().sum())
df = df.drop_duplicates()
print("Duplicates after:", df.duplicated().sum())

Duplicates before: 5268
Duplicates after: 0

### Step 6: Fix Datatypes
Convert InvoiceDate to datetime and CustomerID to integer type.

---

In [18]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['CustomerID'] = df['CustomerID'].astype('int64')
print(df.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

### Step 7: Create Date Features
Extract useful features such as Year, Month, and Weekday from InvoiceDate.

---

In [21]:
df['Year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month
df['Weekday'] = df['InvoiceDate'].dt.day_name()
df[['InvoiceDate','Year','Month','Weekday']].head()

          InvoiceDate  Year  Month    Weekday
0 2010-12-01 08:26:00  2010     12  Wednesday
1 2010-12-01 08:26:00  2010     12  Wednesday
2 2010-12-01 08:26:00  2010     12  Wednesday
3 2010-12-01 08:26:00  2010     12  Wednesday
4 2010-12-01 08:26:00  2010     12  Wednesday

### Step 8: Handle Invalid Values
Remove rows with negative or zero Quantity/UnitPrice, which usually represent cancellations or errors.

---

In [22]:
print("Rows before:", len(df))
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]
print("Rows after:", len(df))

Rows before: 535187
Rows after: 524878

### Step 9: Reset Index
After cleaning, reset the index for consistency.

---

In [23]:
df = df.reset_index(drop=True)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Year,Month,Weekday
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,2010,12,Wednesday
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,Wednesday
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,2010,12,Wednesday
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,Wednesday
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,2010,12,Wednesday

### Step 10: Save Cleaned Dataset
Save the cleaned dataset to the data folder for further analysis.

---

In [24]:
df.to_csv("../data/cleaned_data.csv", index=False)